<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/paper-full.min.js"></script>
		<script src="/javascripts/codemirror.js"></script>
	</head>
	<body>
		<canvas width="200px" height="200px" style="background-color:blue;" id="canvasOne">
			
		</canvas>

		<script type="text/javascript" src="/javascripts/imageMove.js"></script>
		
	</body>
</html>