<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body style="background: url('/images/background.jpg') no-repeat; background-size: cover;">
		<div style="color:red; margin-top:-25px; font-size:21px;">
			<span style="font-size:30px">Tessera</span><span style="margin-left:20px">Trailer</span><span style="margin-left:20px">Register</span><span style="margin-left:20px">Login</span><span style="margin-left:20px">About</span>
		</div>
		<div id='container' style="display:block; margin-left:auto; margin-right:auto; width:800px;">
			<div style="background-image: url('/images/clock.png'); background-size: 400px 200px; background-repeat: no-repeat; height: 129px;float: right;display: inline-block; width: 392px;">
				<div style="    
					margin-left: 18px;
					margin-top: 59px;
					height: 32px;
					width: 24px;
					display: inline-block;
					color: red;
					font-size: 44px;
					background-color: #444039;
					padding-bottom: 15px;" id="hours1">
					1
				</div>
				<div style="    
					margin-left: 10px;
					height: 32px;
					width: 24px;
					display: inline-block;
					color: red;
					font-size: 44px;
					background-color: #444039;
					padding-bottom: 15px;" id="hours2">
					7
				</div>
				<div style="    
					margin-left: 44px;
					height: 32px;
					width: 24px;
					display: inline-block;
					color: red;
					font-size: 44px;
					background-color: #444039;
					padding-bottom: 15px;" id="min1">
					2
				</div>
				<div style="    
					margin-left: 10px;
					height: 32px;
					width: 24px;
					display: inline-block;
					color: red;
					font-size: 44px;
					background-color: #444039;
					padding-bottom: 15px;" id="min2">
					6
				</div>
				<div style="    
					margin-left: 44px;
					height: 32px;
					width: 24px;
					display: inline-block;
					color: red;
					font-size: 44px;
					background-color: #444039;
					padding-bottom: 15px;" id="sec1">
					1
				</div>
				<div style="    
					margin-left: 10px;
					height: 32px;
					width: 24px;
					display: inline-block;
					color: red;
					font-size: 44px;
					background-color: #444039;
					padding-bottom: 15px;" id="sec2">
					1
				</div>
			</div>
			<canvas id="canvasOne" width="800px" height="600px">
				Your browser does not support HTML5 Canvas.
			</canvas>
		</div>
		<footer>
			<div>
				<div>
					<a href="https://fallingdust.com/privacy-policy" id="privacy-policy">Privacy Policy</a>
				</div>
				<div>
					<a href="https://fallingdust.com/about" id="about">About</a>
				</div>
			</div>

			 <div style="width:100%">
				<ol>
					<li style="display:inline;"><a href="http://www.byu.edu/"><img style="width:150px;" src="https://fallingdust.com/wp-content/themes/make-childnew/images/logos/byu.png"></a></li>
					<li style="display:inline;"><a href="http://www.tinder.tv/"><img style="width:150px;" src="https://fallingdust.com/wp-content/themes/make-childnew/images/logos/tinder.png"></a></li>
					<li style="display:inline;"><a href="http://www.nsf.gov/"><img style="width:150px;" src="https://fallingdust.com/wp-content/themes/make-childnew/images/logos/nsf.png"></a></li>
					<li style="display:inline;"><a href="http://intuitivecompany.com/"><img style="width:150px;" src="https://fallingdust.com/wp-content/themes/make-childnew/images/logos/ic_logo.png"></a></li>
					<li style="display:inline;"><a href="http://www.umd.edu/"><img style="width:150px;" src="https://fallingdust.com/wp-content/themes/make-childnew/images/logos/umd.png"></a></li>	        	
				</ol>
			</div>	
		</footer>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script>
	<script src="/javascripts/test2.js"></script>

</html>


<!--
http://chimera.labs.oreilly.com/books/1234000001654/ch05.html#multiple_balls_bouncing_and_colliding
http://asgaard.co.uk/misc/html5canvas.php
http://processingjs.org/learning/topic/bouncybubbles/
http://paperjs.org/examples/candy-crash/
http://sixrevisions.com/html/bouncing-a-ball-around-with-html5-and-javascript/


http://www.html5canvastutorials.com/advanced/html5-canvas-mouse-coordinates/

javascript bouncing ball example
http://codepen.io/jackrugile/pen/BnDkc
http://www.html5canvastutorials.com/advanced/html5-canvas-mouse-coordinates/
canvas elements magnetic to cursor
-->