<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h3>Examples</h3>
		<ul>
			<li>Basis for current website: <a href="http://chimera.labs.oreilly.com/books/1234000001654/ch05.html#multiple_balls_bouncing_and_colliding">chimera.labs.oreilly.com</a></li>
			<li>Multiple Possibilities: <a href="http://paperjs.org/examples/candy-crash/">http://paperjs.org/examples/candy-crash/</a></li>
			<li>Magnetic coins: <a href="http://codepen.io/jackrugile/pen/BnDkc">Go</a></li>
			<li>Video in Canvas: <a href="http://www.craftymind.com/factory/html5video/CanvasVideo.html">Video</a></li>
		</ul>
	</body>
</html>