<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/paper-full.min.js"></script>
		<script src="/javascripts/codemirror.js"></script>
		<!--<script src="/javascripts/scripts.js"></script>-->
		<script type="text/paperscript" canvas="canvas-1" src="/javascripts/paperscript.js"></script>
	</head>
	<body style="background: url('/images/background.png') no-repeat; background-size: cover;">
		<div class="canvas" id="div1">
			<canvas resize="true" id="canvas-1" class="div2" style="background-color:blue"></canvas>
		</div>

		<script type="text/javascript" src="/javascripts/imageMove.js"></script>
	</body>
</html>