<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/slide.css' />
		
	</head>
	<body>
		<div id="content">
			<div id="one" class="col1 row1 picDiv" onclick="move('one')">
				<div class="title">One</div>
			</div>
			<div id="two" class="col2 row1 picDiv" onclick="move('two')">
				<div class="title">Two</div>
			</div>
			<div id="three" class="col3 row1 picDiv" onclick="move('three')">
				<div class="title">Three</div>
			</div>
			<div id="four" class="col1 row2 picDiv" onclick="move('four')">
				<div class="title">Four</div>
			</div>
			<div id="five" class="col2 row2 picDiv" onclick="move('five')">
				<div class="title">Five</div>
			</div>
			<div id="six" class="col3 row2 picDiv" onclick="move('six')">
				<div class="title">Six</div>
			</div>
			<div id="seven" class="col1 row3 picDiv" onclick="move('seven')">
				<div class="title">Seven</div>
			</div>
			<div id="eight" class="col2 row3 picDiv" onclick="move('eight')">
				<div class="title">Eight</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="http://www.shawnolson.net/scripts/public_smo_scripts.js">
		//Used by permission from www.shawnolson.net
	</script>
	<script type="text/javascript" src="/javascripts/slide.js"></script>
</html>

