<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/codemirror.js"></script>
		<!--<script src="/javascripts/scripts.js"></script>-->
		<script type="text/paperscript" canvas="canvas-1" src="/javascripts/paperscript.js"></script>
		<link rel="stylesheet" href="/stylesheets/tessera.css"/>
	</head>
	<body>
		<div id="div_menu">
			<h2>TESSERA</h2>
			<a href="#first">Video</a>
			<a href="#third">Picture</a>
			<a href="#fifth">Window</a>
			<!-- <audio src="/images/backgroundSound.mp3" autoplay loop preload="metadata" type="audio/mpeg" id='backgroundMusic' controls></audio> -->
			<!-- <div id="video-controls">
				<button type="button" id="play-pause">Play</button>
				<input type="range" id="seek-bar" value="0">
				<button type="button" id="mute">Mute</button>
				<input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
			</div> -->
		</div>
		<div class="scrollArrow" style="margin-left:1%;" onclick="scroll(event, 0);"> < </div>
		<div class="scrollArrow" style="margin-left:95%;" onclick="scroll(event, 1);"> > </div>

		<!-- <canvas id="testCanvas"></canvas> -->

		<div style="overflow-x:scroll; overflow-y:hidden;" id="scrollBody">
			<div id="scrollSection" style="background: url('/images/homepageBG.png') no-repeat;	background-size: cover;">
				<div id="first" class="bodyContent">
					<img src="/images/homepageMG.png" id="midGround" />
					<img src="/images/homepageFG.png" id="foreGround" />
					<video id="video" controls>
						<source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
					</video>
				</div>
				<div id="second" class="bodyContent"></div>
				<div id="third" class="bodyContent">
					<canvas resize="true" id="canvas-1"></canvas>
					<div id="countdown">
						<div id="cd1" class="countdownBox"></div>
						<div id="cd2" class="countdownBox"></div>
						<div id="cd3" class="countdownBox"></div>
						<div id="cd4" class="countdownBox"></div>
						<div id="cd5" class="countdownBox"></div>
						<div id="cd6" class="countdownBox"></div>
					</div>
				</div>
				<div id="fourth" class="bodyContent"></div>
				<div id="fifth" class="bodyContent"></div>
			</div>
		</div>
		
		<script type="text/javascript">
			//Give the picture canvas its sizes
			var pageWidth = (window.innerHeight * 3840 * .98)/ 544;

			var t = document.getElementById('canvas-1');
			t.width = (pageWidth/5) * 0.26933743464015203;
			t.height = t.width * 1.034776119402985;
			t.style.marginLeft = 0.3666205080474906 * (pageWidth/5) + "px";
			t.style.marginTop = 0.1141669125937361 * (pageWidth/5) + "px";

		</script>
		<script src="/javascripts/paper-full.min.js"></script>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2'></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script>
		<script type="text/javascript" src="/javascripts/proton.js"></script>
		<script type="text/javascript" src="/javascripts/mouseWheel.js"></script>
		<script type="text/javascript" src="http://www.shawnolson.net/scripts/public_smo_scripts.js">
			//Used by permission from www.shawnolson.net
		</script>
		<script type="text/javascript" src="/javascripts/tessera.js"></script>

		<script type="text/javascript">
			var audio = new Audio("/images/chest.mp3");
			document.addEventListener("click", function(e){audio.play();});
		</script>
		<!--<script type="text/javascript" src="/javascripts/dustEffect.js"></script>-->
	</body>
</html>