body{
	margin:0px;
	padding:0px;
}
#content{
	background-color: palegreen;
	position: relative;
}
.picDiv{
    padding: 0px;
	/*border: 1px solid black;*/
	/*background-color: lightblue;*/
	position: absolute;
	display: inline-block;
	background: url('/images/mona.jpg') no-repeat;
	/*background-size: 1071px 690px;*/
}

.title {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}